# MongoDB
MONGODB_URI=mongodb+srv://admin:<password>@<project name>.<hash>.mongodb.net


# Redis - swap based on environment
# Local dev:
REDIS_URL=redis://localhost:6379
# Azure prod (use this on Azure, note rediss:// for TLS):
# REDIS_URL=rediss://:<your-redis-key>@url-shortener-redis.redis.cache.windows.net:6380

# App
PORT=3000
CLIENT_URL=http://localhost:5173